/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --brand: #fbaeeb;
    --action: #7be5f8;
    --base-light: #98f5e1;
    --base-dark: #30343f;
    --highlight: #cba0ff;
    --black: #111111;
    --white: #ffffff;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--base-light);
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 15px;
    color: var(--black);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 10px;
}

ol, ul {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: 60px;
    width: 60px;
    display: block;
    margin: 10 10 10 10;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
    color: var(--black);
    line-height: 1.5;
}

button:hover {
    background-color: var(--secondary-color);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

/* Utilities */

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Components */

/* Btn-Primary */
.btn-primary {
    background-color: var(--highlight);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--action);
    color: var(--black);
    transform: translateY(-6px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

