/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --brand: #fbaeeb;
    --action: #7be5f8;
    --base-light: #98f5e1;
    --base-dark: #30343f;
    --highlight: #cba0ff;
    --black: #111111;
    --white: #ffffff;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--base-light);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 20px;
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: var(--black);
}

p {
    margin-bottom: 15px;
    color: var(--black);
    line-height: 1.5;
}

ul, ol {
    margin-bottom: 15px;
    padding-left: 20px;
}

button {
    background-color: var(--base-light);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: var(--highlight);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

img {
    max-width: 100%;
    height: 60px;
    width: 60px;
    display: block;
    margin: 10 10 10 10;
}

/* Utility Classes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}