/* Base HTML Styles */

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gochi+Hand&family=Patrick+Hand&display=swap');

:root {
    --brand: #fbaeeb;
    --action: #7be5f8;
    --base-light: #f5f5f5ba;
    --base-dark: #121715;
    --highlight: #cba0ff;
    --black: #111111;
    --white: #ffffff;
    --accent: #80b0f6;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 26px;
    font-family: "Gochi Hand", cursive;
    font-weight: 10;
    font-style: normal;
    line-height: 1.6;
    color: var(--black);
    scroll-behavior: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: 10;
    margin-bottom: 15px;
    color: var(--brand);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 10px;
}

ol, ul {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: 60px;
    width: 60px;
    display: block;
    margin: 10 10 10 10;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

p {
    margin-bottom: 15px;
    color: var(--black);
    line-height: 1.5;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

/* Body */
body {
    margin: 0;
    background-image: url(./img/nightsky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Utilities */

.display-none {
    display: none;
}

.mobile-nav {
    display: block;
}

/* Components */

/* Btn-Primary */
.btn-primary {
    background-color: var(--highlight);
    background: rgba(203, 160, 255, 0.5);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--action);
    color: var(--black);
    transform: translateY(-6px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Header */
header .mobile-header {
    height: auto;
    max-height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
}

header button {
    all: unset
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    header .mobile-header .hamburger-icon {
        display: none;
    }
}

/* Logo */
.logo {
    height: 80px;
    width: auto;
    opacity: 0.7;
}

/* .mobile-nav */
.mobile-nav a {
    text-decoration: none;
    color: var(--black);
    display: block;
    flex-direction: column;
    padding: 4px 16px;
}

/* .desktop-nav */
.desktop-nav {
    display: none;
}

@media (min-width: 768px) {
    .desktop-nav a {
        text-decoration: none;
        font-size: larger;
        color: var(--highlight);
        opacity: 0.8;
    }

    .desktop-nav {
        display: inline-block;
    }

    .desktop-nav ul li a:hover {
        color: var(--action);
    }

    .mobile-nav {
        display: none !important;
    }

    .hamburger-icon {
        display: none;
    }
}

/* .hamburger-icon */
.hamburger-icon {
    height: 50px;
    width: 50px;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
}

/* .hero */
.hero {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    position: relative;
    padding: 0;
    border-radius: 20px 20px 20px 20px;
    margin: 5px 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: var(--brand);
    letter-spacing: 5px;
    opacity: 0.8;
}

.portfolio .hero {
    margin-bottom: -30px;
}

/* Hero Dropping texts */
.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: center;
  height: 36px;
  margin: 0;
}

.dropping-texts div {
  font-size: 0px;
  opacity: 0;
  position: absolute;
  font-weight: 300;
  transform-origin: center center;
}

.dropping-texts div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

/* Hero Dropping Text Keyframes */
@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:0.7;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:0.7;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:0.7;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0.7;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:0.7;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:0.7;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:0.7;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    transform: scale(10);
    opacity:0;
    margin: 0;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

/* Hero Queries */
@media (min-width: 768px) {
    .hero {
        height: 55vh;
        align-items: flex-start;
        justify-content: center;
    }

    .hero h1 {
        display: inline-block;
    }

    .portfolio .hero {
        height: 40vh;
    }
}

@media (max-width: 767px) {
    .hero {
        justify-content: center;
        height: auto;
        padding: 20px;
    }

    .hero h1 {
        font-size: 1.5rem;
        margin: 0;
        letter-spacing: 5px;
    }
}


/* Query Articles container */
@media (min-width: 768px) {
    .articles-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }
}

/* Articles */

article {
    background-color: var(--accent);
    background: rgba(50, 50, 50, .5);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px 16px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    article {
        padding: 32px;
    }
}

article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: contrast(150%);
    .btn-primary {
        background: rgba(203, 160, 255, 0.7);
    }
    .btn-primary:hover {
        background: rgba(123, 229, 248, 0.6);
    }
}

article .icon {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto 10px auto;
    opacity: 0.7;
}

article .article-heading h2 {
    margin-bottom: 16px;
    color: var(--black);
}

article p {
    margin-bottom: 16px;
    color: var(--base-light);
    font-weight: 100;
}

/* About me */
/* Profile container */
.profilepic {
    display: flex;
    justify-content: center;
    border-radius: 5px 10px;
    padding: 32px 16px;
}

/* Profile img */
.profileimg {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.9;
}

.about-container {
    filter: contrast(200%);
}

@media (min-width: 768px) {
    .about-container {
        display: grid;
        gap: 20px;
        padding: 20px;
    }
}

/* Contact Form */
.contact-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--highlight);
    background: rgba(50, 50, 50, .5);
    color: var(--base-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.8;
}

.contact-form label {
    display: block;
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    color: var(--brand);
    opacity: 0.8;
}

.contact-form input[type="submit"] {
    background-color: var(--action);
    background: rgba(203, 160, 255, 0.5);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    transform: scale(1.05);
    filter: contrast(150%);
    color: var(--black);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(123, 229, 248, 0.6);
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .contact-form h2 {
        text-align: center;
        font-size: 2.5rem;
    }
}

/* Footer */
footer {
    padding: 32px 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--base-dark);
    background: rgba(50, 50, 50, .5);
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}

footer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: contrast(150%);
}

.socials-icon {
    height: 56px;
    width: 56px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.socials-icon:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    footer {
        justify-content: center;
    }
}