/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&family=Gochi+Hand&family=Just+Another+Hand&display=swap');

:root {
    --brand: #fbaeeb;
    --action: #7be5f8;
    --base-light: #f5f5f5ba;
    --base-dark: #121715;
    --highlight: #cba0ff;
    --black: #111111;
    --white: #ffffff;
    --accent: #80b0f6;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 26px;
    font-family: "Gochi Hand", cursive;
    font-weight: 10;
    font-style: normal;
    line-height: 1.6;
    color: var(--black);
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: 10;
    margin-bottom: 15px;
    color: var(--brand);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 10px;
}

ol, ul {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: 60px;
    width: 60px;
    display: block;
    margin: 10 10 10 10;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

p {
    margin-bottom: 15px;
    color: var(--black);
    line-height: 1.5;
}


input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

/* Body */
body {
    margin: 0;
    background-image: url(./img/scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Utilities */

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Components */

/* Btn-Primary */
.btn-primary {
    background-color: var(--highlight);
    background: rgba(203, 160, 255, 0.5);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--action);
    color: var(--black);
    transform: translateY(-6px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Header */
header .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    border-radius: 20px 20px 20px 20px;
    margin: 5px 10px;
}

header button {
    all: unset
}

/* Logo */
.logo {
    height: 150px;
    width: auto;
    padding: -20px -20px;
}

/* .mobile-nav */
.mobile-nav a {
    text-decoration: none;
    color: var(--black);
    display: block;
    flex-direction: column;
    padding: 4px 16px;
}

/* .desktop-nav */
.desktop-nav {
    display: none;
}

/* .hamburger-icon */
.hamburger-icon {
    height: 50px;
    width: 50px;
}

/* .hero */
.hero {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 2rem;
    border-radius: 20px 20px 20px 20px;
    margin: 5px 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--black);
}

@media (min-width: 768px) {
    .hero {
        height: 65vh;
    }

    .hero h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    
    .profilepic {
        height: 200px;
        width: 200px;
    }

    .hero h1 {
        font-size: 1.8rem;
        margin: 10px;
        padding: 10px;
    }
}

/* Query Articles container */
@media (min-width: 768px) {
    .articles-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }
}

/* Articles */

article {
    background-color: var(--accent);
    background: rgba(50, 50, 50, .5);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px 16px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    article {
        padding: 32px;
    }
}

article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: contrast(150%);
    .btn-primary {
        background: rgba(203, 160, 255, 0.7);
    }
    .btn-primary:hover {
        background: rgba(123, 229, 248, 0.6);
    }
}

article .icon {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto 10px auto;
    opacity: 0.7;
}

article .article-heading h2 {
    margin-bottom: 16px;
    color: var(--black);
}

article p {
    margin-bottom: 16px;
    color: var(--base-light);
    font-weight: 100;
}

/* Contact Form */
.contact-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--highlight);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form label {
    display: block;
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    color: var(--black);
}

.contact-form input[type="submit"] {
    background-color: var(--action);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    transform: scale(1.05);
    filter: contrast(150%);
    color: var(--black);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .contact-form h2 {
        text-align: center;
        font-size: 2.5rem;
    }
}

/* Footer */
footer {
    padding: 32px 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--base-dark);
    border-radius: 20px 20px 20px 20px;
    margin: 5px 10px;
}

.socials-icon {
    height: 56px;
    width: 56px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.socials-icon:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    footer {
        justify-content: center;
    }
}